@import https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F7F1;
}

section.header {
    background-color: #F9F7F1;
    /* margin-bottom: 0;
    padding-bottom: 0; */
}


.logo img {
    height: 53.61px;
    margin-top: -18px;
    padding-right: 10px;
    display: inline-block;
}

label.text-center.logo-welcome {
    font-size: 21px;
    color: #0E5849;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    margin-top: 40px;
}

.welcome {
    color: #A1AEB7;
    font-size: 21px;
    font-weight: 500;
}
/* 
.col-7 {
    padding-left: 20px;
} */

.primary-section {
    padding-top: 50px;
}

.coming-soon {
    color: #E8BB47;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    margin-top: 51px;
}

.header h1 {
    color: #054639;
    font-weight: bold;
    font-size: 66px;
}

.text-info-1 {
    font-size: 16px;
    line-height: 26px;
    color: #054639;
    font-weight: lighter;
    font-style: normal;
    margin-top: 20px;
}


p.form-mail-text{   
    margin-top: 20px;
    margin-bottom: 7px;
    color: #054639;
    /* color: #A63343; */

}


.input-group {
    max-width: 412px;
}

input.form-input::-webkit-input-placeholder {
    font-family: Ubuntu, FontAwesome;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #C2D1D9;
}

.bg-orange {
    background-color: #E9623B;
    /* background-color: #e8bb47; */
    color: white;
    font-size: 12px;
}

.hero-phone-image img {
    height: 546.74px;
}

.video-bg {
    height: 650px;
    margin-top: 141.39px;
    background-color: #E9623B;
}

.video-header {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    padding-top: 41px;
}

.video-box {
    display: block;
    margin: auto;
    margin-top: 28px;
    max-width: 756px;
}

.video-bg .video-box iframe {
    display: inline-block;
    border: 3px solid #E8BB47;
}

.call-to-action-2 {
    margin-top: 90px;
}

.form-2 {
    
    padding-bottom: 90px;
}

section.features {
    background-color: #0E5849;
    margin-top: 0;
    padding-bottom: 0;
}

.feature-title {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    padding-top: 38px;
    margin-bottom: 38px;
}

section.features .phone-image {
    height: 790.8px;
}

.feature-box {
    background-color: #F9F7F1;
    max-width: 505px;
    height: 245px;
    border-radius: 13.13px;
    margin-bottom: 28px;
}

.feature-box h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16.2217px;
    line-height: 24px;
    color: #505D68;
    padding: 26.28px 135.15px 0 86.36px;
}

.feature-box p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12.3594px;
    line-height: 19px;
    color: #A1AEB7;
    padding: 13.86px 194.63px 50.92px 86.36px;
}