@import https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css;

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

section.header {
    background-color: #F9F7F1;
}


.logo img {
    height: 53.61px;
    margin-top: -18px;
    padding-right: 10px;
    display: inline-block;
}

label.text-center.logo-welcome {
    font-size: 21px;
    color: #0E5849;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    margin-top: 40px;
}

.welcome {
    color: #A1AEB7;
    font-size: 21px;
    font-weight: 500;
}
/* 
.col-7 {
    padding-left: 20px;
} */

.primary-section {
    padding-top: 50px;
}

.coming-soon {
    color: #E8BB47;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    margin-top: 51px;
}

.header h1 {
    color: #054639;
    font-weight: bold;
    font-size: 66px;
}

.text-info-1 {
    font-size: 16px;
    line-height: 26px;
    color: #054639;
    font-weight: lighter;
    font-style: normal;
    margin-top: 20px;
}


p.form-mail-text{   
    margin-top: 20px;
    margin-bottom: 7px;
    color: #054639;

}


.input-group {
    max-width: 412px;
}

input.form-input::-webkit-input-placeholder {
    font-family: Ubuntu, FontAwesome;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline !important;
    padding-left: 5px;
    padding-top: 2px;
    color: #C2D1D9;
}

.bg-orange {
    background-color: #E9623B;
    color: white;
    font-size: 12px;
}

.col-5 img {
    height: 546.74px;
}

.video-bg {
    height: 650px;
    margin-top: 141.39px;
    background-color: #E9623B;
}

.video-header {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    padding-top: 41px;
}

.video {
    display: block;
    margin: auto;
    margin-top: 28px;
    border: 2px solid #e8bb47;
    max-width: 756px;
}