.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    /* min-height: 100vh; */
    /* background-color: black; */
}

.carousel-container img {
    max-width: 220px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 280px;
    height: 470px;
    /* background-color: #000; */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006); */
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #0e5849 !important;
}

@media screen and (min-width: 992px) {
    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 50px;
        /* min-height: 100vh; */
        /* background-color: black; */
    }
    
    .carousel-container img {
        max-width: 290px;
    }
    
    .swiper-container {
        width: 912px;
        padding-top: 50px;
        padding-bottom: 60px;
    }
    
    .swiper-slide {
        background-position: center;
        background-size: cover;
        max-width: 390px;
        height: 100%;
        /* background-color: #000; */
        /* -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006); */
    }
    
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #0e5849 !important;
    }
}